bin/Debug/netcoreapp1.1/ashari-architects.com.dll
bin/Debug/netcoreapp1.1/ashari-architects.com.pdb
obj/Debug/netcoreapp1.1/ashari-architects.com.dll
obj/Debug/netcoreapp1.1/ashari-architects.com.pdb

