@model List<ashari_architects.com.Models.Card>

@{
    ViewData["Title"] = "Projects";
}
<!--<h2>@ViewData["Title"]</h2>-->

<!--
<div style="display: block; margin: 0 auto; text-align: center">
    <img class="responsive-img" src="~/images/THE PAUSE   (19).jpg" width="80%">
</div>
-->
      


<div class="slider">
    <ul class="slides">
      <li>
        <a href="Projects/Cards/maternal_house">
            <img src="~/images/Maternal - House ( خانه مادری )/Main elevation/008.jpg"> 
            <div class="caption center-align">
                <h3>MATERNAL HOUSE</h3>
                <h6 class="light grey-text text-lighten-3">-CLICK TO LEARN MORE-</h6>
            </div>
        </a>
      </li>
      <li>
          <a href="Projects/Cards/conex_cafe">
        <img src="~/images/conex cafe/conex cafe   (12).jpg"> 
        <div class="caption left-align">
          <h3>CONEX CAFE</h3>
          <h6 class="light grey-text text-lighten-3">-CLICK TO LEARN MORE-</h6>
        </div>
        </a>
      </li>
      <li>
        <a href="Projects/Cards/nori_house">
            <img src="~/images/Nouri House/NORI HOUSE   (16).JPG"> 
            <div class="caption right-align">
            <h3>NORI HOUSE</h3>
            <h6 class="light grey-text text-lighten-3">-CLICK TO LEARN MORE-</h6>
            </div>
        </a>
      </li>
      <li>
          <a href="Projects/Cards/cafe_mosalas">
        <img src="~/images/Cafe Mosalas/Cafe Mosalas (4).JPG"> 
        <div class="caption center-align">
          <h3>CAFE MOSALAS</h3>
          <h6 class="light grey-text text-lighten-3">-CLICK TO LEARN MORE-</h6>
        </div>
        </a>
      </li>
      <li>
          <a href="Projects/Cards/falah_house">
        <img src="~/images/Falah House/Falah House (1).jpg"> 
        <div class="caption left-align">
          <h3>FALAH HOUSE</h3>
          <h6 class="light grey-text text-lighten-3">-CLICK TO LEARN MORE-</h6>
        </div>
        </a>
      </li>
      <li>
          <a href="/Projects/Cards/hafezieh_prayer_room">
        <img src="~/images/Hafezieh Prayer Room/render/hafezieh prayer room   (2).jpg"> 
        <div class="caption right-align">
          <h3>HAFEZIEH PRAYER ROOM</h3>
          <h6 class="light grey-text text-lighten-3">-CLICK TO LEARN MORE-</h6>
        </div>
      </li>
      </a>
    </ul>
  </div>
  

<div class="container">
    <div class="center-align">
        <div class="row">
            <div class="col m6 right-align"  style="">
                <img class="responsive-img" src="~/images/2.jpg" width="100px">
            </div>
            <div class="col m6 ">
                <div class="row" style="vertical-align:text-bottom ;margin-bottom: 0px">
                        <h5 class="left-align" style="text-align: justify;letter-spacing: 7px">COMING SOON</h5>
                </div>
                <div class="row" style="vertical-align:text-top ">
                        <h5 class="left-align" style="text-align: justify;padding: 0px;margin-top: 0px">ASHARI ARCHITECTS</h5>
                </div>
            </div>
        </div>
    </div>
</div>
  